@{
    Layout = null;
}




<html>
<head>
    <meta charset="UTF-8">
    <title>Notify|Login</title>



    <link href="~/css/login.css" rel="stylesheet" />






</head>
<body>
    <div class="wrapper">
        <a href="/Home/SignUpPage"><h4 style="color:white">Sign Up To Register</h4></a>
        <div class="container" style="padding:164px">

            <img src="~/Logo/PUCIT_Logo.png" />   <h1>Notify</h1>


            <form class="form" action="/Home/Login">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <button type="submit">Login</button>
            </form>
        </div>


    </div>





</body>
</html>
