@{
    ViewBag.Title = "updatePost";
}

@using Parse;
@using Logic_Project.Models
@section HomePage{
    @{var p = ViewBag.pt;
      var data = p.Get<string>("post");
      }
<form action="updatedPost/@p.ObjectId">
    <div class="row">
        <div class="col-md-8 col-sm-6">

            <div class="tiles white">

                <textarea rows="3" class="form-control user-status-box post-input" name="post">@data</textarea>
            </div>
            <div class="tiles grey padding-10">
                <div class="pull-left">
                    <button class="btn btn-default btn-sm btn-small" type="button"><i class="fa fa-image"></i></button>
                    <button class="btn btn-default btn-sm btn-small" type="button"><i class="fa fa-file"></i></button>
                </div>
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary btn-sm btn-small" value="Save" />
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</form>

}